::-webkit-scrollbar{
    width: 0 !important;
    height: 0 !important;
}
.text-lg-sm{
    font-size: 0.7rem !important;
}
.create-btn:hover{
cursor: pointer;
background-color: lightgray;
border-radius: 10px;
}
.content-items:hover{
    cursor: pointer;
    background-color: lightgray;
}
.temp-color{
    background-color: red;
}
.temp-color2{
    background-color: blue;
}
.close:hover{
    cursor: pointer;
}

@media (max-width:1000px){
    .search-bar{
        display: none !important;
    }
    .gayab{
        display: none !important;
    }
}
@media (max-width:991px){
    .my-single-image img{
      height: 200px !important;
    }
}
@media (max-width:575px){
   .my-single-video{
    height: 250px !important;
   
   }
}

@media (min-width:1200px){
    .text-lg-sm{
        font-size: 1rem !important;
    }
}

